*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $default-font;
    background-image: linear-gradient(62deg, #00244a 0%, #024058 100%);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}